.mid{
    width: 80%;
    margin: 0 10%;
    padding-top: 220px;
    border-left: 3px solid #131313;
    border-right: 3px solid #131313;
}
.aboutUs{
    background: rgba(2, 7, 84, 0.22);
}
.aboutUsInfo{
    padding: 10px;
    margin: 0 3%;
    color: white;
    text-shadow: 1px -0.5px rgba(255, 242, 242, 0.18);
    text-align: center;
}
.aboutUsInfo img:nth-child(even){
    float: left;
    margin: 0 10px 10px;
}
.aboutUsInfo img:nth-child(odd){
    float: right;
    margin: 0 10px 0 10px;
}
.aboutUsInfo img{

}
.aboutUsInfo h1{
    margin-bottom: 1.2rem;
}




