body{
    margin: 0;
    text-align: center;
    background: repeating-linear-gradient(90deg, #282934 0%, #333333 50%, #282934 100%);

}
.log{
    width: 40%;
    margin: 20% 29% auto 29%;
    background: repeating-linear-gradient(90deg, #959595 0%, #958e8e 50%, #959595 100%);
    border:2px solid #252120;
    border-radius: 15px ;
    padding: 1%;
}
.editing {
    color: #ff7367;
}
.table{
}
table{
    width: 90%;
    margin: 40px 5%;
    background: #c2c3b9;
    border: 2px solid #333;
    color: #000000;
    margin-top: 220px;
}
td{
    text-align: center;
    border: 2px solid #333;
    padding: 8px;
}
.id{
    display: none;
}
#description{
    height: 40px;
    width: 80%;
    line-height: 20px;
}
.main{
    text-decoration: none;
    color: #5558ef;
}