footer {
    min-height: 100px;
    background: radial-gradient(#212121, #000);
    border-top: 20px solid #958e8e;
    border-image: url("../Image/border.jpg") 40 round round;
    color: white;
    flex: 0 0 auto;
    padding: 10px 0;
    z-index: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footerMid{
    display: grid;
    grid-template-rows: 1fr;
}

.footerContent{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    line-height: 57px;
    padding: 2px;
}

.footerIcon{
    justify-self: right;
    width: 57px;
    height: 57px;
    position: relative;
    border-radius: 50%;
}

.footerIcon:before, .footerIcon:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    filter: blur(10px);
    z-index: 1;
    opacity: 0.1;
    transition: 1s;
}

.footerIcon:after{
    filter: blur(20px);
}
.footerIcon:hover:before, .footerIcon:hover:after
{
    opacity: 0.7;
}

.footerIconShadow{
    position: absolute;
    top: 4px;
    right:  4px;
    left: 4px;
    bottom: 4px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    z-index: 2;
}

.footerIcon:hover {
    padding-top: 4px;
}

.footerIconShadow:hover img{
    width: 41px;
    opacity: 1;
}

.footerIconShadow img{
    width: 33px;
    text-shadow: 0 10px 5px #007aff;
    opacity: 0.7;
    transition: 0.2s;
}

.footerIconPhone:before, .footerIconPhone:after {
    background: #310084;
}
.footerIconEmail:before, .footerIconEmail:after {
    background: #591882;
}
.footerIconVk:before, .footerIconVk:after {
    background: #455f1c
}

.footerInfoName a, .footerInfo a{
    font-size: 24px;

}

.footerContent
{
    background: #bdc3c7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footerInfo{
    text-align: left;
}

@media (max-width: 610px ) {
    .footerInfoName a, .footerInfo a{
        font-size: 18px;

    }
}

@media (max-width: 470px ) {
    .footerInfoName a, .footerInfo a{
        font-size: 14px;

    }
}

@media (max-width: 370px ) {
    .footerInfoName a, .footerInfo a{
        font-size: 10px;

    }
}