footer {
    min-height: 100px;
    background: black;
    border-top: 20px solid #958e8e;
    border-image: url("../Image/border.jpg") 40 round round;
    color: white;
    flex: 0 0 auto;
    padding: 10px 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footerMid{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}
.footerContent{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 8px;
    line-height: 25px;
}
.footerIcon{
    text-align: right;
}
.footerIcon img{
    width: 25px;

}
.footerInfo{
    text-align: left;
}