body{
    background:linear-gradient(-45deg, #303030 0%, #252525 50%, #303030 100%) no-repeat;
    min-height: 70%;
}
html{
    font-size: 100%;
}
h1{
    padding: 20px;
    font-size: 3rem;
    color: blueviolet;
}
.infoGame p{
    max-height: 70%;
    position: absolute;
    width: 37%; 
    overflow: auto;
}
h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
p, a {
    font-size: 1.2rem;
}
@media (max-width: 1100px){
    .sliderContainer p{
        font-size: 0.9rem;
    }
    .sliderContainer h2{
        font-size: 1.7rem;
        margin-bottom: 8px;
    }
}
@media (max-width: 900px){
    .sliderContainer p{
        font-size: 0.7rem;
    }
    .sliderContainer h2{
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
}
.flex{
    overflow: hidden;  
    padding: 0 0 10px 0;
}

@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(Fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
*{
    font-family: "Open Sans";
}