.novosti-on{
    position: static;
    width: 100%;
    margin: auto;
    margin-top: 90px;
    padding-bottom: 0%;
}
.novosti-icon {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 21px double rgba(255,255,255,.25);
    border-width: 0 0 6px 0;
    padding: 2em 0px 0 0px;
    position: relative;
    top: -8%;
    width: 100%;
    font-size: 22px;
}

.x {
    font: 700 3em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    /*! padding: 1.25em 0 0.em; */
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 800px rgba(255,255,255,.5);

    /* Clip Background Image */

    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    /*background-clip: text;*/

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
.novosti-big-block{
    display: flex;
    width: 100%;
    padding: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.data{
    width: 200px;
    background: aqua;
    height: 26px;
}
.text-big{
    position: relative;
    height: 124px;
}
.text-hover{
    background: #ebebeb;
    opacity: 0;
    height: 140px;
}
.text-hover2{
    background: #ebebeb;
    opacity: .6;
    height: 80px;
    position: absolute;
    width: 200px;
    bottom: -2px;
    transition: 1s;
}
.novocti-text:hover{
    background: #ebebeb;
    opacity: .6;
    height: 80px;
    position: absolute;
    width: 200px;
    bottom: -2px;
    transition: 1s;
}
.text-hover-mous{
    background: #ebebeb;
    opacity: .6;
    height: 80px;
    position: absolute;
    width: 200px;
    bottom: -2px;
    transition: 1s;
}
/* .text-hover:hover{
  background: #ebebeb;
  opacity: .6;
  height: 80px;
  position: absolute;
  width: 200px;
  bottom: -2px;
  transition: 1s;
} */
.novosti-text{
    height: 125px;
    width: 200px;
    background-color: brown;
    opacity: 1;
    position: absolute;
}
.novosti-text+ .novosti-hover{
    opacity:1;
    transition: 1s;
}
/*.novosti-text:active{*/
/*background: #414141;*/
/*opacity: .6;*/
/*height: 100px;*/
/*transition: 2s;*/
/*bottom: 0;*/
/*position: relative;*/
/*display: block;*/
/*}*/
.slovo hr{
    width: 285px;
    float: right;
}
.novocti-block
{

    width: 200px;
    height: 278px;
    background-color: blue;
    /*! margin-right: 18px; */
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 2%;
}
.slovo li{
    list-style-type: none;
}
.slovo li:hover{
    color: #ff025a;
    transition: 3s;

}
.n5{
    /*display: none;*/
}
#image-news{
    width: 200px;
}
.overlay{
    background-color: rgba(10, 180, 185, 0.9);
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 1325px;
}
.overlay-open{
    display: flex;
    justify-content: center;
}
.wrapp-img{
    background-image: url(//OurSite/Image/Games/GTA5.jpg);
    width: 45%;
    height: 100%;
    border-radius: 6%;
    /*! min-width: 250px; */
    max-height: 300px;
}
.news-block{
    width: 45%;
    height: 50%;
    position: absolute;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border-radius: 16px;
    min-height: 380px;
    max-height: 340px;
    max-width: 700px;
    min-width: 500px;
    position: fixed;
  animation-name: news;
  animation-duration: 4s; 
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes news{
  from{
    transform: rotateY(480deg);
/*       top: -100%; */
/*     bottom: 100%; */
      margin-top: -300px;
  }
    20%{
/*         transform: rotateY(180deg); */
        
    }
    30%{
      margin-top: 410px;
/*       transform: rotateY(180deg); */
      min-height: 250px;
      min-width: 600px; 
    }
    45%{
/*         transform: rotateY(180deg); */
              min-height: 250px;
      min-width: 600px;
    }
  55%{
/*       bottom: 0; */
/*       top: 35%; */
      margin-top: 150px;
/*     transform: rotateY(180deg); */
      animation-direction: alternate;
/*       min-height: 250px;
      min-width: 600px; */
       min-height: 380px;
         min-width: 650px;
      transform: rotate(0deg);
  }
    66%{
        min-height: 380px;
         min-width: 650px;
        box-shadow: 0px -10px 24px 10px rgb(254, 243, 233);
    }
    68%{
  box-shadow: 0px -8px 20px 8px rgb(254, 243, 233);       
    }
    70%{
box-shadow: 0px -6px 17px 6px rgb(254, 243, 233);        
    }
    73%{
        box-shadow: 0px 0px 15px 4px rgb(254, 243, 233);
    }
    75%{
/*            bottom: 172px; */
/* min-height: 380px; */
transform: rotate(0deg);
margin-top: 180px;
        box-shadow: 0px 1px 20px 1px rgb(244, 239, 249);   
/*  min-width: 650px; */
        
    }
  80% {
     box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
       margin-top: 200px;
     transform: rotate(0deg);
  }
    
}
.news-button{
    background: #ff7f50;
    width: 19%;
    height: 13%;
    position: relative;
    padding: 12px 0 12px 0;
    border-radius: 5px;
    top: 10px;
    right: 16px;
    float: right;
}
#news-button-a{
    color: white;
    text-decoration: white;
    margin: 0 16% 0 16%;
}
.news-element-image{
    position: relative;
    height: 0px;
}
.news-element-image img{

    width: 40%;
    display: block;
    position: inherit;
}
.news-elements-h1{

    width: 80%;
    position: static;
}
.news-elements-h1 h1{

    padding: 0;
    font-size: 2rem;
    margin: 20px 0 15px 0;
    position: relative;
}
.news-element-text{

    float: right;
    width: 58%;
    padding: 4px;
}
.content-news img{

    position: relative;
    float: left;
    padding: 3px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}
.news-element-text h2{

    font-size: 16px;
    margin-bottom: 15px;
}
.news-element-text p{

    max-width: 100%;
    width: 100%;
    overflow: auto;
    max-height: 220px;
}
.news-text-data{

    width: 28%;
    font-size: 14px;
    position: absolute;
    float: right;
    right: -5%;
    bottom: 2%;
}
.content-news{

    width: 100%;
    position: relative;
    height: 81%;
    display: flex;
    padding: 1%;
}

#news-button-a1{
    display: none;
}
