@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);


*:before,
*:after {
  z-index: 99999;
}

a {
  text-decoration: none;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 64px;
  max-width: 150px;
  text-transform: uppercase;
  /*! line-height: 90px; */
  /*! border-radius: 16px; */
  /*! margin-top: 1px; */
}

.btn-6 {
  color: #5444ad;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #20155f;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #cdc8e7;
  box-shadow: 0 0 14px 4px #a300ff;
}
.btn-6:hover span {
  width: 225%;
  height: 337.5px;
}
.btn-6:active {
  background-color: #36239e;
}

