.priceListTelephone {
    grid-gap: 2em ;
    justify-items: center;
    display: none;

}

.x{
    font: 700 3em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 800px rgba(255,255,255,.5);
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}



.priceContainer{
    padding-top: 7%;
    color: white;
    text-shadow: 1px -1px 2px #524b4b;
}

.title{
    border-bottom: 6px double rgba(255,255,255,.25);
    width: 100%;
}
.title h1{
    font-size: 2rem;
}
.priceListTelephone img{
    width: 80px;
    margin-bottom: 10px;
}

.priceInfoContainer{
    padding: 15px;
    border: 3px solid #060606;
    border-radius: 4px;
    box-shadow: 0 0 10px #110e26;
    background: radial-gradient(#2e2e2e, #131313);
    position: relative;
}

.priceInfoContainer:before, .priceInfoContainer:after{
    content: "";
    position: absolute;

    left:-8%;
    top:-8%;
    height: 116%;
    width: 116%;
    border-radius: 10px;
    background: #3b3b3b;
    z-index: -1;
    filter: blur(40px);
}



.priceContentTop{
    grid-gap: 2em ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.priceContentBottom{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.priceList{
    margin: 20px;
}

.priceListImg{
    position: relative;
}

.priceList img{
    margin: 40px;
    border-radius: 24px;
    z-index: 10;
    border: 3px solid #39337c;
    box-shadow: 0 0 10px #3a3585;
}

.priceListImg:before, .priceListImg:after{
    content: "";
    position: absolute;
    left: 10%;
    top: 5%;

    width: 80%;
    height: 90%;
    border-radius: 24px;
    filter: blur(30px);
    z-index: -1;
    background: #302b63;
}

.priceListImg:after{
    filter: blur(40px);
}

@media (max-width: 470px ){
    .title{
        margin-top: 10%;
    }

    .priceList{
        display: none;
    }
    .priceListTelephone
    {
        justify-items: center;
        display: grid;
        width: 80%;
        margin: 30px 10%;
    }
}
@media (max-width: 410px ){
    .priceContentTop{
        grid-gap: 1em ;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
    }
}